#letsgo {
    -fx-background-image: url(../textures/buttons/letsgo.png);
}

#letsgo:disabled {
    -fx-opacity: 0.5;
}

#letsgo:hover {
    -fx-background-image: url(../textures/buttons/letsgo_hover.png);
}

#letsgo.waiting {
    -fx-background-image: url(../textures/buttons/waiting.png);
}

#randomize {
    -fx-background-image: url(../textures/buttons/randomize.png);
}

#randomize:hover {
    -fx-background-image: url(../textures/buttons/randomize_hover.png);
}