#bg {
    -fx-background-image: url(../textures/bg.png);
    -fx-background-size: 1280 720;
}

Button {
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}