#play {
    -fx-background-image: url(../textures/buttons/play.png);
}

#play:hover {
    -fx-background-image: url(../textures/buttons/play_hover.png);
}

#about {
    -fx-background-image: url(../textures/buttons/about.png);
}

#about:hover {
    -fx-background-image: url(../textures/buttons/about_hover.png);
}